<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners> 
<listener class-name="TestCases.Listeners"> 
</listener>
</listeners>
<parameter name="Browser" value="Chrome"/>
  <test thread-count="5" name="Test">
    <classes>    
      <class name="TestCases.QAlegentNewTestCases">
      <methods>
   <!--  <include name="verifyIfUserCanDeleteUser"> </include>
       <include name="verifyIfUserCanAddRole"> </include>
       <include name="verifyIfUserCanEditRole"> </include>
         <include name="verifyIfUserCanDeleteRole"> </include>
         <include name="verifyIfUserCanViewTheCutomerDetails"> </include>          
           <include name="verifyIfUserCanAddTheVariations"> </include>
            <include name="verifyIfUserCanAddSellingPrice"> </include> 
           <include name="verifyIfUserCanaddBrands"></include>        
           <include name="verifyIfUserCanDeleteBrands"></include>  --> 
           
           <include name="verifyIfUserCanDeleteUser"></include>
           <include name="verifyIfUserCanAddRole"> </include>
            <include name="verifyIfUserCanViewTheCutomerDetails">
            <include name="verifyIfUserCanDeleteBrands">
          
      
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

